<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/websocket  
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">
	<!-- 要调用的工作类 -->
	<bean id="SpringQtzJob" class="com.lidong.websocket.SpringQtz" />
	<bean id="SpringQtzJob1" class="com.lidong.websocket.SpringQtzDemo" />
	<!-- 可继续加新的任务 -->
	<!-- 要调用的工作类结束 -->

	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="SpringQtzJobMethod"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<!-- 要执行的方法名称 -->
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<bean id="SpringQtzJobMethod1"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="SpringQtzJob1" />
		</property>
		<!-- 要执行的方法名称 -->
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>


	<!-- ======================== 调度触发器 ======================== -->
	<bean id="CronTriggerBean"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="SpringQtzJobMethod"></property>
		<!-- cron表达式 -->
		<property name="cronExpression" value="0/10 * * * * ?"></property>
	</bean>

	<bean id="CronTriggerBean1"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="SpringQtzJobMethod1"></property>
		<!-- cron表达式 -->
		<property name="cronExpression" value="0/5 * * * * ?"></property>
	</bean>

	<!-- ======================== 调度工厂 ======================== -->
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="CronTriggerBean" />
				<ref bean="CronTriggerBean1" />
			</list>
		</property>
	</bean>
</beans>  