<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	
	                       
    <!-- 使用注解式注入 -->  
    <context:annotation-config />  
      
    <!-- 自动扫描 -->  
    <context:component-scan base-package="com.lidong" />


    <!-- 导入数据库配置 -->  
    <import resource="classpath:spring/spring-db.xml"/>
    <!-- 导入DAO配置 -->
    <import resource="classpath:spring/spring-dao.xml"/>

    <!-- 导入数据库配置 -->  
    <import resource="classpath:spring/spring-tx.xml"/>
     <!-- 导入mongodb配置 -->  
    <import resource="classpath:spring/spring-mongo.xml"/>
      <!-- 导入redis配置 -->  
    <import resource="classpath:spring/spring-redis.xml"/>
    
     <!-- 导入dubbo配置 -->  
    <import resource="classpath:spring/spring-dubbo.xml"/>

    <!-- 导入quartz配置 -->
    <import resource="classpath:spring/spring-quartz.xml"/>


    <!-- 导入quartz配置 -->
    <import resource="classpath:spring-activemq.xml"/>

</beans>