<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 配置Activiti -->
    <bean id="processEngineConfigureation" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource" />
        <!--配置事务管理-->
        <property name="transactionManager" ref="txManager" />
        <property name="databaseSchemaUpdate" value="true" />
        <property name="jobExecutorActivate" value="false" />
        <property name="deploymentResources" value="classpath:process/*.bpmn" />
        <!--配置字体-->
        <property name="activityFontName" value="宋体"></property>
        <property name="labelFontName" value="宋体"></property>
    </bean>
    <bean id="processEngineFactory" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfigureation" />
    </bean>
    <!--  流程仓库Service，用于管理流程仓库  例如 部署、删除、读取流程资源-->
    <bean id="repositoryService" factory-bean="processEngineFactory" factory-method="getRepositoryService" />
    <!--身份Service，可以管理和查询用户、组之间的关系-->
    <bean id="identityService" factory-bean="processEngineFactory" factory-method="getIdentityService" />
    <!-- 运行时Service，可以处理所有的正在运行状态的流程实例、任务等 -->
    <bean id="runtimeService" factory-bean="processEngineFactory" factory-method="getRuntimeService" />
    <!-- 表单Service，用于读取和流程、任务相关的表单数据-->
    <bean id="formService" factory-bean="processEngineFactory" factory-method="getFormService" />
    <!-- 任务Service 用于管理、查询任务，例如签收、办理、指派等-->
    <bean id="taskService" factory-bean="processEngineFactory" factory-method="getTaskService" />
    <!-- 历史Service，用于查询所有历史数据，例如流程实例，任务、活动、变量、附件等-->
    <bean id="historyService" factory-bean="processEngineFactory" factory-method="getHistoryService" />
    <!-- 引擎管理Service，和具体业务无关，主要是可以查询引擎配置、数据库、作业等-->
    <bean id="managementService" factory-bean="processEngineFactory" factory-method="getManagementService" />
</beans>