
a.pull-right{
	position: relative;
	top: -6px;
}
/*选择分类*/

.choice-log .row div{
  text-align: center;
  margin-bottom: 15px;
}
.choice-log p{
  padding-left: 10px;
  padding-right: 10px;
  text-align:left;
}

.choice-log h4{
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

#healthLogForm select.form-control{
	min-width:180px;
}
#healthLogForm .form-group{
	padding-top:18px;
}
.small_input{
  width: 30px;
  height: 25px;
  border: 1px solid #ccc;
}


.my-log h2{
	font-size:20px;
	color:#333;
	margin-top:15px;
	text-align: center;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

#containerT{
	height: 750px;
	overflow: hidden;
}

@media (max-width:768px){
		.my-log h2{
			font-size:16px;
		}
}


@media (min-width: 768px) {
	.choice-log{
		min-height:520px;
	}
}



