

.h_rep{

}
.h_rep h2{
  text-align: center;
}

.h_rep h4{
  padding: 0 30px;
}
.h_rep p{
  padding: 0 20px;
}
.h_rep h4 a{
  float: right;
}


.active label{
	text-align: left;
}

/*选择分类*/
.choice-report{
  min-height: 500px;
}
.choice-report .row div{
  text-align: center;
  margin-bottom: 5px;
}
.choice-report .row a{
  display: block;
  height: 100px;
  line-height: 100px;
  width: 100px
  text-align: center;

}
.choice-report .row a:hover{
  background-color: rgb(236, 240, 241);
}
.choice-report .tab-content{
	padding:12px 0;
}

#panel-1 .col-md-4,#panel-1 .col-md-5,#panel-2 .col-md-4,#panel-2 .col-md-3{
  text-align: left;
}
#panel-1 label{
  padding-right: 0;
  margin-right: 0;
}
.tab-pane {
  padding: 10px;
}

#tabs-report ul li a{
	font-size:16px;
}

.small_input{
	  width: 40px;
	  height: 30px;
	  line-height:30px;
	  border: 1px solid #ccc;
	  border-radius:4px;
	  padding:5px;
}
.small_input2{
	  width: 120px;
	  height: 35px;
	  line-height:35px;
	  border: 1px solid #ccc;
	  border-radius:4px;
	  padding:5px;
}
.small_input3{
	  width: 220px;
	  height: 35px;
	  line-height:35px;
	  border: 1px solid #ccc;
	  border-radius:4px;
	  padding:5px;
}
.small_select{
	  width: 220px;
	  height: 35px;
	  line-height:35px;
	  border: 1px solid #ccc;
	  border-radius:4px;
	  font-size:16px;
	  background: #fff;
}
.small_select2{
	  width: 100px;
	  height: 35px;
	  line-height:35px;
	  border: 1px solid #ccc;
	  border-radius:4px;
	  font-size:16px;
	  background: #fff;
}


/*心理评测*/
.heart-report{
    padding: 0 100px;
}

.heart-1 h1{
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top:8px;
}

/*心理问卷*/
#psy_ul_one{
  list-style: none;
  width:100%;
  padding: 10px 30px;
  height: auto;
  background: #fff;
  box-shadow: 3px 3px 4px  #ccc;
}
#psy_ul_one li{
  float:left;
  width:100%;
  margin:3px 0;
  border-radius:5px;
}
#psy_ul_one li:hover{
	background-color: rgb(236, 240, 241);
}

.colorBg{
	background: #ecf0f1;	
}
.colorRed{
	color:#1abc9c;
}

#psy_ul_one .li_left{
  float: left;
  width: 60%;
  padding:5px 0 0 5px;
  font-size: 16px;
}
#psy_ul_one .li_right{
  float: left;
  width: 38%;
  text-align: right;
}
#psy_ul_one input{
  margin-right: 1px;
  cursor: pointer;
}
#psy_ul_one .li_right label{
    cursor: pointer;
}
.form-btn{
  text-align: center;
}
.form-btn button{
  margin-left: 10px;
  margin-right: 10px;
  margin-top:5px;
}
.clear{
  clear: both;
}

.pTitle{
	padding:3px 0 3px 10px;
	border-left:8px solid #1abc9c;
	background: #ecf0f1;
}
.pTitle label{
	margin:0; 
	padding:0;
	line-height:0;
}
/*中医问卷*/
.zhongyi .nav li a{
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  letter-spacing: 1px;
}

/*平和质*/
.question{
  width:100%;
  padding: 10px 30px;
  background: #fff;
  box-shadow: 3px 3px 4px  #ccc;
}
.question .li_left{
  font-weight: bold;
  font-size: 16px;
}
.question li{
	padding-left:8px;
	border-radius:5px;
	margin-bottom:4px;
}
.question li:hover{
	background: #ecf0f1;
}

.question ul{
    list-style: none;
}
.question h1,.block h1{
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top:5px;
}
.question label, .question input{
  cursor: pointer;
}
.question ul{
	padding: 0;
}

.tab-pane{
	padding:0px 1px 1px 2px;
}



@media (max-width: 768px) {
	 
	  .question{
	    padding: 10px;
	  }
	  .block h1{
	  	font-size:20px;
	  }
	  .tab-pane {
	  	padding:0 1px 0 1px;
	  }
	  .questionTitle{
	  	font-size: 18px;
	  }
		
	   #psy_ul_one{
		  padding: 10px 20px;
		}
		
		#panel-9 .form-inline label ,.ext_test label{
			display:block;
			text-align: left;
		}
		.small_select{
			width:100%;
		}
	   .small_input3{
			width:100%;
		}
	  /*心理问卷兼容手机端*/
	  #psy_ul_one .li_left{
		  float: left;
		  width: 100%;
		  padding:5px 0 0 5px;
		  font-size: 16px;
		}
		#psy_ul_one .li_right{
			  float: left;
			  width: 100%;
			  text-align: left;
		}
}
  
  @media (max-width: 900px) {
	  .heart-report{
	    padding: 0 ;
	  }
	  .pinghe{
	    padding:0;
	  }
	  
	}
@media(min-width: 1200px) {
  .heart-1{
    padding: 10px 50px;
  }
}
