#userManager {
	margin-top: 65px;
}

.btn_addPic {
	display: block;
	position: relative;
	width: 265px;
	height: 39px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	background: none repeat scroll 0 0 #F3F3F3;
	color: #999999;
	cursor: pointer;
	text-align: center;
}

.btn_addPic span {
	display: block;
	line-height: 39px;
}

.btn_addPic em {
	background: url(http://p7.qhimg.com/t014ce592c1a0b2d489.png) 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
}

.btn_addPic:hover em {
	background-position: -19px 0;
}

.filePrew {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 265px;
	height: 39px;
	font-size: 100px;
	opacity: 0; 
	filter: alpha(opacity = 0); 
}

.help-block{
	text-indent: 2em;
}


@media (max-width:768px){

}
@media (min-width:960px){
	 .help-block{
		text-indent: 10em;
 	}
 	#userManager{
 		margin-top:10px;
 	}
}

