@charset "utf-8";

/*
* 重写部分样式 - 中国农业银行
*/
#myNav{
	background: #3aa4a3;
}

#myNav li.active{
	background-color: #1abc9c;
}
#myNav li:hover{
	background-color:#1abc9c;
}
.btn-success{
	background-color:#3aa4a3;
}
.btn-success:hover{
	background-color:#3aa4a3;
}
#userDropDown .dropdown-menu{
	background-color: #3aa4a3;
}
#userDropDown .dropdown-menu  a{
	color:#fff !important;
}
a{
	color:#3aa4a3;
}

footer{
	background-color:#3aa4a3; 
}